{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- title of site -->
    <title>Landing Page</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="{% static 'assets/logo/favicon.png' %}" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

    <!--linear icon css-->
    <link rel="stylesheet" href="{% static 'assets/css/linearicons.css' %}">

    <!--animate.css-->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

    <!--flaticon.css-->
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">

    <!--slick.css-->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- bootsnav -->
    <link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}">

    <!--style.css-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!--responsive.css-->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
    .btn {
      background-color: #395ece;
      color: white;
      padding: 10px 20px;
      margin-right: 2px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
      transition: background-color 0.3s ease;
    }
    

    .btn:hover {
        color: white;
        background-color: #0a38c0; 
    }
</style>
</head>

<body>

<!-- top-area Start -->
<section class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
             data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="home">Data<span>Vault</span></a>

                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li><a href="home">home</a></li>
                        <li><a href="sign_up">signup</a></li>
                        <li><a href="sign_in">signin</a></li>
                        <li><a href="#about">about</a></li>
                        <li><a href="#contact">contact</a></li>
                    </ul><!--/.nav -->
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->
    <div class="clearfix"></div>

</section><!-- /.top-area-->
<!-- top-area End -->

<!--welcome-hero start -->
<section id="home" class="welcome-hero">
    <div class="container">
        <div class="welcome-hero-txt">
            <h2>Your trusted fortress for safe and scalable data storage <br> that all you need </h2>
            <p>
                Safely store and easily access your documents with our secure and user-friendly storage solution.
            </p><br>
            <a href="{% url 'sign_in' %}"><button class="btn">signin</button></a>
        </div>
        

    </div>
</section><!--/.welcome-hero-->
<!--welcome-hero end -->

<!--list-topics start -->
<section id="list-topics" class="list-topics">
    <div class="container">
        <div class="list-topics-content">
            <ul>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-restaurant"></i>
                        </div>
                        <h2><a href="{% url 'sign_in' %}">personal data storage</a></h2>
                        <p>150 listings</p>
                    </div>
                </li>


                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-travel"></i>
                        </div>
                        <h2><a href="{% url 'sign_in' %}">education info</a></h2>
                        <p>214 listings</p>
                    </div>
                </li>


                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <h2><a href="{% url 'sign_in' %}">document storage</a></h2>
                        <p>185 listings</p>
                    </div>
                </li>


                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-pills"></i>
                        </div>
                        <h2><a href="{% url 'sign_in' %}">health info</a></h2>
                        <p>200 listings</p>
                    </div>
                </li>

            </ul>
        </div>
    </div><!--/.container-->

</section><!--/.list-topics-->
<!--list-topics end-->


<!--subscription strat -->
<section id="contact" class="subscription">
    <div class="container">
        <div class="subscribe-title text-center">
            <h2>
                do you want to share your opinions or complaints with us?
            </h2>
            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="subscription-input-group">
                    <form action="#">
                        <input type="email" class="subscription-input-form" placeholder="Enter your email here">
                        <button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
                            send mail
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section><!--/subscription-->
<!--subscription end -->

<!--footer start-->
<footer id="footer" class="footer">
    <div class="container">
        <div class="footer-menu">
            <div class="row">
                <div class="col-sm-3">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Data<span>vault</span></a>
                    </div><!--/.navbar-header-->
                </div>
                <div class="col-sm-9">
                    
                </div>
            </div>
        </div>
        <div class="hm-footer-copyright">
            <div class="row">
                <div class="col-sm-5">
                    <p>
                        &copy;copyright. designed and developed by Aswin SD
                    </p><!--/p-->
                </div>
                <div class="col-sm-7">
                    <div class="footer-social">
                        <span><i class="fa fa-phone"> +1 (222) 777 8888</i></span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>

        </div><!--/.hm-footer-copyright-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Back to Top"
               aria-hidden="true"></i>
        </div>

    </div><!--/.scroll-Top-->

</footer><!--/.footer-->
<!--footer end-->

<!-- Include all js compiled plugins (below), or include individual files as needed -->

<script src="{% static 'assets/js/jquery.js' %}"></script>

<!--modernizr.min.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!--bootstrap.min.js-->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- bootsnav js -->
<script src="{% static 'assets/js/bootsnav.js' %}"></script>

<!--feather.min.js-->
<script src="{% static 'assets/js/feather.min.js' %}"></script>

<!-- counter js -->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>

<!--slick.min.js-->
<script src="{% static 'assets/js/slick.min.js' %}"></script>

<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js' %}"></script>

<!--Custom JS-->
<script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>
